:root {
    --primary-orange: #E56F0D;
    --light-grey: #C8CCD0;
    --dark-grey: #333;
    --darkish-grey: #292727;
    --medium-grey: rgb(130, 139, 141);
    --standard-blue:#1B75D0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    padding-top: 60px;
}

p {
    line-height: 1.8rem;
}

/* Navigation Bar */
nav {
    border-top: 4px solid var(--primary-orange);
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border-bottom: 1px solid var(--light-grey);
    z-index: 999;
}


nav .container {
    max-width: 2000px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40xp;
}

nav .flex {
    gap: 10px;
}

.nav-links {
    display: flex;
    gap: 20px;
    margin: 0 15px;
}

.logo{
    height: 30px;
    width: auto;
    object-fit: contain;
}

.search-container {
    padding: 5px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    border: 2px solid var(--light-grey);
    border-radius: 10px;
}

.search-box {
    padding: 5px;
    width: 600px;
    border: none;
}

.search-icon {
    color: #555; /* Cor do ícone */
}

.box {
    height: 1000px;
}

/* Question Section */
.aside {
    background-color: #9a9ea2;
}

.question-date {
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 20px;
}

.question-container {
    margin: 20px;
}

.upvote-downvote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 60px;
}

.circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #C8CCD0; /* Set your desired border color */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem; /* Set your desired icon size */
    cursor: pointer;
}

.fa-solid {
    color: var(--dark-grey);
}

/* Answers */
.answer-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

.sort-box {
    height: 35px;
    width: 220px;
    padding-left: 10px;
    border-radius: 5px;
}

.fa-check {
    font-size: 3rem;
}
