:root {
    --primary-orange: #E56F0D;
    --light-grey: #C8CCD0;
    --dark-grey: #333;
    --darkish-grey: #292727;
    --medium-grey: rgb(130, 139, 141);
    --standard-blue:#1B75D0;
}

/* Base Styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

.container {
    max-width: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40xp;
}

.d-flex {
    display: flex;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.title-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 9fr;

}

.btn {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #FFF;
    border: none;
    border-radius: 5px;
}

.btn-primary{
    background-color: #FFF;
    color: var(--standard-blue);
    border: 2px solid var(--standard-blue);
}

.btn-secondary {
    background-color: var(--standard-blue);
    color: #FFF;
    border: 2px solid var(--standard-blue);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* Text Related */
.text-title {
    font-size: 2.5rem;
    color: var(--dark-grey);
    display: inline;
}

.lead {
    font-size: 20px;
}
.sm {
    font-size: 1.4rem;
}
.md {
    font-size: 1.8rem;
}
.lg {
    font-size: 3rem;
}
.xl {
    font-size: 4rem;
}

/* Text Colors */
.bold {
    color: black;
    font-weight: bold;
}

.text-light-grey {
    color: var(--medium-grey);
}

.text-dark-grey {
    color: var(--darkish-grey);
}

/* text-medium-grey */

.text-center {
    text-align: center;
}



/* Margin & Padding */
.my-1 {
    margin: 1rem 0;
}
.my-2 {
    margin: 1.5rem 0;
}
.my-3 {
    margin: 2rem 0;
}
.my-4 {
    margin: 2.5rem 0;
}
.my-5 {
    margin: 3rem 0;
}

.m-1 {
    margin: 1rem;
}
.m-2 {
    margin: 1.5rem;
}
.m-3 {
    margin: 2rem;
}
.m-4 {
    margin: 2.5rem;
}
.m-5 {
    margin: 3rem;
}

.me-1 {
    margin-right: 1rem;
}
.me-2 {
    margin-right: 1.5rem;
}
.me-3 {
    margin-right: 2rem;
}
.me-4 {
    margin-right: 2.5rem;
}
.me-5 {
    margin-right: 3rem;
}
/* Padding  */
.py-1 {
    padding: 1rem 0;
}
.py-2 {
    padding: 1.5rem 0;
}
.py-3 {
    padding: 2rem 0;
}
.py-4 {
    padding: 2.5rem 0;
}
.py-5 {
    padding: 3rem 0;
}

.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 1.5rem;
}
.p-3 {
    padding: 2rem;
}
.p-4 {
    padding: 2.5rem;
}
.p-5 {
    padding: 3rem;
}